/* Swiper container root */
.mySwiper {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
.mySwiper .swiper-slide {
  padding: 0;
  margin: 0;
  background: none !important;
  display: block !important;
}
.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.swiper-pagination {
  bottom: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
}
