@import "tailwindcss";
@plugin "daisyui";

html,
body,
.navbar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* DaisyUI theme variables */
body {
  background-color: hsl(var(--b1));
  color: hsl(var(--bc));
}
